* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
}
#index .header {
  padding: 10px;
}
#index .header div {
  width: 210px;
  margin: 0 auto;
}
#index .header div h1 {
  float: left;
  margin: 30px 20px 30px 10px;
  font-size: 22px;
}
#index .header div img {
  margin-top: 5px;
}
#index ul li a img{
  margin: 15px;
}
#index ul li a h3 {
  padding-top: 20px;
  margin: 0;
}
#facilites h1 {
  text-align: center;
  margin: 0 auto;
}
#depart div h4 {
  font-size: 18px;
  text-align: center
}
#depart div h5 {
  font-size: 17px;
}
#car .content h4 {
  font-size: 18px;
  text-align: center
}
#car .content h5 {
  font-size: 17px;
}
#car .content ul {
  margin: 0 20px;
}
#car .content ul li {
  margin: 7.5px 0;
}
#weather .ui-select {
  width: 45%;
  float: left;
  margin-left: 10px;
  margin-bottom: 25px;
}
#weather ul li img {
  float: left;
  margin: 20px 20px 20px 0;
}