* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', sans-serif;
}
#index .header {
  padding: 10px;
}
#index .header div {
  width: 210px;
  margin: 0 auto;
}
#index .header div h1 {
  float: left;
  margin: 25px 0px 20px 30px;
  font-size: 22px;
}
#index .header div img {
  margin: 25px 0px 20px 20px;
}
#index ul li a img{
  margin: 15px;
}
#index ul li a h3 {
  padding-top: 20px;
  margin: 0;
}
#facilites h1 {
  text-align: center;
  margin: 0 auto;
}
#depart div h4 {
  font-size: 18px;
  text-align: center
}
#depart div h5 {
  font-size: 17px;
}
#depart .depart-su p {
  line-height: 50px;
}
#depart .depart-su img {
  margin-left: -7.5px;
}
#car .content h4 {
  font-size: 18px;
  text-align: center
}
#car .content h5 {
  font-size: 17px;
  margin: 10px 0;
}
#car .content ul li img {
  width: 24px;
  float: left;
  margin: 14px 16px 14px 0;
}
#car .content ul li p {
  font-size: 15px;
  margin: 5px 0;
}
#car .content ul li .floor {
  font-weight: bold;
}
#weather .ui-select {
  width: 47%;
  float: left;
  padding: 10px 1.5% 25px 1.5%;
  margin: 0;
}
#weather .airlist {
  clear: both;
}
#weather .airlist li img {
  float: left;
  margin: 20px 20px 20px 5px;
}
#weather .airlist li p {
  font-size: 14px;
  line-height: 26px;
}
#weather #popupBasic {
  padding: 10px;
}
#weather #popupBasic img {
  width: 80px;
  height: 80px;
  margin: 10px 60px;
}